.lead__title {
  color: #fff;
  margin: auto 16px;
  padding: 0;
  max-width: 288px;
  max-height: 88px;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
}

@media screen and (min-width: 740px) {
  .lead__title {
    max-width: 720px;
    max-height: 200px;
    font-size: 96px;
    line-height: 100px;
  }
}