.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 64px 16px 0;
}

@media screen and (min-width: 740px) {
  .intro {
      padding: 88px 24px 0;
  }
}

@media screen and (min-width: 990px) {
  .intro {
      padding: 92px 286px 0 48px;
  }
}

@media screen and (min-width: 1250px) {
  .intro {
      padding: 92px 442px 0 148px;
  }
}