.lead__subtitle {
  color: #fff;
  max-width: 288px;
  max-height: 40px;
  margin: 16px 16px auto;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 740px) {
  .lead__subtitle {
    max-width: 640px;
    max-height: 72px;
    margin: 32px 64px auto;
    font-size: 30px;
    line-height: 36px;
  }
}
